.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #252885;
    padding: 10px;
    color: white;
    font-size: 35px;
}

.App-intro {
  padding-top: 25px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
