.checkwx-container {
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 8px;
    font-size: small;
    background: #bdc3c7;
}

.checkwx-item {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    color: #3d566e;
}

.checkwx-container .checkwx-link {
    color: #1e90ff;
    text-decoration: underline;
}

.headerMetar {
    font-size: 16px;
    color: black;
}

.headerCat {
    font-size: 14px;
    color: black;
}

.jumbotron {
    background-image: url('../resources/vfr.jpg');
    background-repeat: no-repeat;
}

#no-bullet-list {
    list-style-type: none;
}