.jumbotron {
    background-color: rgba(047, 164, 231, 0.2);
    text-align: center;
}

.firebaseError {
    font-size: medium;
    color: #D8000C;
    background-color: #FFD2D2;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.button {
    transition-duration: 0.4s;
    background-color: #2678ff;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background: #252885;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}